.atividades-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 1.5rem;
}
.atividades-titulo {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: var(--greyscale-5);
    margin: 0;
}
