<div class="manage-lists-screen">
    <section class="active-members">
        <h3 class="members-titles">Membros ativos</h3>
        <div class="manage-lists-members">
            <button mat-button 
            (click)="setSelected(member.id)"
            [class.selectedMember]="member.id == selectedMemberId"
            class="manage-lists-members-button"
            id="{{member.id}}"
            *ngFor="let member of members">
                <div class ="manage-lists-members-button-content"> 
                    <img
                        [class.selectedMemberImage]="member.id == selectedMemberId" 
                        class="manage-lists-members-image" 
                        src="http://34.136.200.153/{{member.photo}}"
                    >
                    <div>
                        <h4 class="manage-lists-members-title">Membro:</h4>
                        <p class="manage-lists-members-name">{{member.name}}</p>
                    </div>
                </div>   
            </button>
        </div>
    </section>

	<ng-container [ngTemplateOutlet]="shownTemplate"></ng-container>
</div>

<ng-template #rawTasks>
    <h3 class="members-titles">Atividades</h3>
    <div class="manage-lists-tasks">
        <app-list-activity-card
        *ngFor="let task of tasks"
        [data] = task>
        </app-list-activity-card>
    </div>
</ng-template>

<ng-template #memberSelectedTaskList>
    <div class="status-task-list">
        <div>
            <h3 class="status-title">Status da lista:</h3>
            <p 
                [class.status-in-progress] = "selectedMemberTasks.status == 'Em andamento'"
                [class.status-on-hold] = "selectedMemberTasks.status == 'Em espera'" 
            class="status-content">{{selectedMemberTasks.status}}</p>
        </div>
        <div>
            <button mat-button (click)="openModals(modalDeleteTask, '')" class="orange-button">Excluir lista</button>
            <button *ngIf="selectedMemberTasks.status == 'Em espera'" mat-button class="light-green-button">Editar lista</button>
            <button *ngIf="selectedMemberTasks.status == 'Em espera'" mat-button class="dark-green-button">Iniciar lista</button>
        </div>
    </div>
    <div>
        <h3 class="members-titles">Atividades</h3>
        <div>
            <app-list-member-activities
                *ngFor="let item of selectedMemberTasks.taskListItems"
                id = "{{item.taskId}}"
                [tasksInformation]="selectedMemberTasks"
                [taskItem]="item"
                [showButton]="0">
            </app-list-member-activities>
        </div>
    </div>
</ng-template>

<ng-template #modalDeleteTask>
    <app-modal-successful-operation [propsOperation]="modalDeleteTaskData"></app-modal-successful-operation>
</ng-template>

<ng-template #modalDeleteTaskSuccessful>
    <app-modal-successful-operation [propsOperation]="modalDeleteTaskSuccessfulData"></app-modal-successful-operation>
</ng-template>