.manage-lists-screen {
    width: 90%;
    margin: 0 auto;
    overflow-y: scroll;
    padding-right: 1rem;
    height: 70vh;
}

.active-members {
    margin-bottom: 1.5rem;
}

.members-titles {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: var(--grayscale-5);
}

.manage-lists-members {
    display: flex;
    flex-flow: row;
}

.manage-lists-members-button {
    width: 200px;
    border: 1px solid var(--grayscale-2);
    box-sizing: border-box;
    border-radius: 4px;
    margin-right: 1rem;
    padding: 1rem;
}

.manage-lists-members-button-content {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}
.manage-lists-members-image {
    width: 56px;
    height: 56px;
    border-radius: 100%;
    display: block;
}

.manage-lists-members-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: var(--grayscale-4);
    text-align: left;
    margin-bottom: 8px;
}
.manage-lists-members-name {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: left;
    color: var(--grayscale-5);
    margin: 0;
}

.manage-lists-tasks {
    display: grid;
    grid-template-columns: 49.5% 49.5%;
    justify-content: space-between;
}

.selectedMember {
    border: 3px solid var(--primary-light);
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0px 4px 24px rgba(131, 197, 190, 0.3);
}
.selectedMemberImage {
    border: 3px solid var(--primary-light);
    width: 61px;
    height: 61px;
    border-radius: 100%;
}

.status-task-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    border-bottom: 1px solid #dee8eb;
}

.status-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #7c8d93;
    margin-bottom: 8px;
}

.status-content {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 1rem;
}

.status-in-progress {
    color: var(--primary-dark);
}

.status-on-hold {
    color: var(--secondary-dark);
}

.orange-button {
    width: 30%;
    margin-right: 16px;
}

.light-green-button {
    margin-right: 16px;
    width: 30%;
}

.dark-green-button {
    width: 30%;
}
