.logo {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 66px;

    color: var(--primary-dark);
}

.msg {
    width: 282px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: var(--grayscale-4);
    text-align: center;
}

.gbutton {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    color: #FFFFFF;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    width: 100%;
    border-radius: 4px;

    background: var(--primary-dark);
}

/* cor do outliner */
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: var(--grayscale-4)!important;
}

/* cor quando focado */
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: var(--primary-dark)!important;
}

/* Cor da caixa ao dar inserir campo invalido */
::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
    color: var(--primary-dark)!important;
}

.email {
    width: 306px;
}

.senha {
    width: 306px;
}

.input {
    top: 100px;
    margin-left: 63%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 306px;
    height: 361px;
    position: absolute;
}
