.logo {
    font-weight: bold;
    font-size: 56px;
    line-height: 66px;

    color: var(--primary-dark);
}

.welcome-message {
    width: 282px;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: var(--grayscale-4);
    text-align: center;
}

.green-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    color: #FFFFFF;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    width: 100%;
    border-radius: 4px;

    background: var(--primary-dark);
}

.email {
    width: 306px;
}

.senha {
    width: 306px;
}

.input {
    top: 100px;
    margin-left: 63%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 306px;
    height: 361px;
    position: absolute;
}
