.member-screen {
    display: flex;
    height: 80vh;
    width: 90%;
    margin: 3rem auto 0 auto;
}

/* Estilização dos cards de membros */
.member-cards {
    border-right: var(--grayscale-2) 1px solid;
    height: 100%;
}

.titulo-lista-membros {
    color: var(--grayscale-5);
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: left;
}

.item-lista-membros {
    display: flex;
    flex-direction: column;
    height: 80%;
    overflow-y: auto;
    overflow-x: auto;
    margin-bottom: 10px;
    padding-right: 2rem;
}

.selected {
    border: 2px solid var(--primary-light);
    box-sizing: border-box;
    border-radius: 4px;
    border-right: 15px solid var(--primary-light);
    height: 124px;
    margin-bottom: 12px;
    background-color: var(--primary-light);
}

/* Estilização das listas de atividade */
.lista-atividades {
    width: 95%;
    height: 74px;
    margin: 0 auto;
    margin-left: 2rem;
}

.lista-atividades-titulo {
    color: var(--grayscale-5);
    font-size: 14px;
    line-height: 16px;
}

.lista-atividades-items {
    height: 60vh;
    overflow-y: auto;
    overflow-x: auto;
    padding-right: 20px;
    margin-bottom: 30px;
}
