mat-drawer-container{
    height: 85vh;
    width: 90%;
    margin: 1.5rem auto 0 auto;
}

mat-drawer{
    width: max-content;
}

.titulo-lista-membros{
    color: var(--grayscale-5);
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: left;
}

.lista-membros{
    display: flex;
    flex-direction: column;
    height: 80%;
    overflow-y: auto;
    overflow-x: auto;
    margin-bottom: 5px;
    padding-right: 15px;
    margin-right: 8px
}

mat-drawer-content{
    background: #ffffff;
}

.lista-atividades{
    width: 95%;
    height: 74px;
    margin: 0 auto;
}

.lista-atividades-titulo{
    color: var(--grayscale-5);
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
}

.lista-atividades-items{
    height: 60vh;
    overflow-y: auto;
    overflow-x: auto;
    padding-right: 20px;
    margin-bottom: 30px;
}

.lista-atividades-items::-webkit-scrollbar, .lista-membros::-webkit-scrollbar{
    border-radius: 90px;
    width: 8px;
    background: var(--grayscale-2)
}

.lista-atividades-items::-webkit-scrollbar-thumb, .lista-membros::-webkit-scrollbar-thumb{
    background: var(--grayscale-3);
    border-radius: 90px;
}


.selected{
    border: 1px solid #83C5BE;
    box-sizing: border-box;
    box-shadow: 0px 4px 24px rgba(131, 197, 190, 0.3);
    border-radius: 4px;
    border-right: 15px solid var(--primary-light);
    width: max-content;
}

.item-lista-membros{
    margin-bottom: 10px;
    height: 125px;
}