<div class="member-screen">
    <div class="member-cards">
        <h2 class="titulo-lista-membros">Listas:</h2>
        <div class="item-lista-membros">
            <app-list-member-item
            (click)="setSelected(member.id)"
            [class.selected]="member.id == selectedId"
            *ngFor="let member of members"
            [member]="member"
            id="{{member.id}}"
            ></app-list-member-item>
        </div>
        <app-manage-button [action]="manageButtonAction"></app-manage-button>
    </div>

    <div class="lista-atividades">
        <div>
            <h3 class="lista-atividades-titulo">Lista:</h3>
            <div class="lista-atividades-items">
                <div *ngIf="membersTasks.status == 'Em andamento'">
                    <app-list-member-activities
                    *ngFor="let item of membersTasks.taskListItems"
                    id = "{{item.taskId}}"
                    [tasksInformation]="membersTasks"
                    [taskItem]="item"
                    [showButton]="1"
                    ></app-list-member-activities>
                </div>
            </div>
            <app-list-member-absences [selectedMemberId]="selectedId"></app-list-member-absences>
        </div>
    </div>
</div>

<ng-template #manageTaskList>
    <app-manage-list-modal></app-manage-list-modal>
</ng-template>