<mat-toolbar class="header">
    <span class="logo-header">RIOTT</span>

    <mat-tab-group [(selectedIndex)]="teste" (click)="testando()">
        <mat-tab label="Listas"></mat-tab>
        <mat-tab label="Histórico"></mat-tab>
        <mat-tab label="Atividades"></mat-tab>
        <mat-tab label="Membros"></mat-tab>
        <mat-tab label="Sair"></mat-tab>
    </mat-tab-group>
    
</mat-toolbar>


<!-- <ul class="nav-header">
    <li class="nav-item">Listas</li>
    <li class="nav-item">Histórico</li>
    <li class="nav-item">Atividades</li>
    <li class="nav-item">Membros</li>
    <li class="nav-item">Sair</li>
</ul> -->

    

