<div class="lista-atividades-item" *ngIf="taskItem">
    <div class="descricao-item" *ngIf="taskItem.task.description">
        <h4 class="header-item">Descrição da atividade:</h4>
        <p class="content-item">{{taskItem.task.description}}</p>
    </div>
    <div class="valor-item" *ngIf="taskItem.discount">
        <h4 class="header-item">Valor:</h4>
        <p class="content-item">{{taskItem.discount | currency:'BRL'}}</p>
    </div>
    <div *ngIf="showButton">
        <button mat-button class="solid-orange-button" id="button" (click)="onclick()" *ngIf="taskItem.failed == true">
            <svg style="margin-right:2px"width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M11.5359 11.5351L4.46532 4.46457M4.46532 11.5351L11.5359 4.46457" stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            Faltou
        </button>
        <button mat-button class="orange-button" id="button" (click)="onclick()" *ngIf="taskItem.failed == false">
            Marcar Falta
        </button>
    </div>
</div>
