.lista-atividades-item{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 1rem;
    border: 1px solid var(--grayscale-2);
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 1rem;
    align-items: center;
    align-content: center;
}

.descricao-item{
    width: 600px;
    max-width: 100%;
}

.header-item{
    color: var(--grayscale-4);
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 8px;
    max-width: 100%;
}

.content-item{
    color: var(--grayscale-5);
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    margin:0;
    max-width: 600px;
    word-break: break-all;
}

.botao-marca-falta{
    background: var(--secundary-dark);
    border-radius: 4px;
    width: 109px;
    height: 40px;
    color: #ffffff;
}
