.atividades{
    width: 90%;
    margin: 1.5rem auto 0 auto;
}

.atividades-header{
    display: flex ;
    justify-content: space-between;
    align-items: baseline;
}
.atividades-titulo{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: var(--greyscale-5);
}

.atividades-cadastrar{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    margin: 12px 16px;
    color: var(--white);
    background: var(--primary-dark);
    width: 188px;
    height: 40px;
}