<section class="atividades">
    <app-header-box [tittle]="tittle" [button]="button"></app-header-box>
    <div class="lista-atividades">
        <app-list-activity-card [data]="dataTeste" [buttons]="buttonTeste"></app-list-activity-card>
        <app-list-activity-card [data]="dataTeste" [buttons]="buttonTeste"></app-list-activity-card>
        <app-list-activity-card [data]="dataTeste" [buttons]="buttonTeste"></app-list-activity-card>
        <app-list-activity-card [data]="dataTeste" [buttons]="buttonTeste"></app-list-activity-card>
        <app-list-activity-card [data]="dataTeste" [buttons]="buttonTeste"></app-list-activity-card>
        <app-list-activity-card [data]="dataTeste" [buttons]="buttonTeste"></app-list-activity-card>
        <app-list-activity-card [data]="dataTeste" [buttons]="buttonTeste"></app-list-activity-card>
        <app-list-activity-card [data]="dataTeste" [buttons]="buttonTeste"></app-list-activity-card>
    </div>
</section>
