<section class="atividades">
    <app-header-box [title]="title" [button]="headerBoxButton"></app-header-box>
    <div class="lista-atividades">
        <app-list-activity-card 
            *ngFor="let activity of activitiesList" 
            [data]="activity" 
            [buttons]="buttons">
        </app-list-activity-card>
    </div> 
</section>

<ng-template #modalBody>
    <app-register-activity [propsModalRegister]="modalData"></app-register-activity>
</ng-template>

<ng-template #modalUpdateElement>
    <app-register-activity [propsModalRegister]="modalUpdateElementData"></app-register-activity>
</ng-template>