<div class="modalRegisterMember">
    <p>{{propsModalRegister.title}}</p>

    <input [formControl]="memberImage" type="file">
    
    <mat-form-field appearance="outline">
        <mat-label>Nome do membro</mat-label>
        <input [formControl]="memberName" matInput placeholder="Fulaninho de Tal">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Data de nascimento</mat-label>
        <input [formControl]="memberBirthday" matInput [matDatepicker]="picker" placeholder="dia/mês/ano">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Valor da mesada</mat-label>
        <input [formControl]="memberReward" matInput type="number" placeholder="200,00">
        <span matPrefix>R$&nbsp;</span>
    </mat-form-field>

    <button mat-button
    *ngFor="let button of propsModalRegister.buttons" 
    class="{{button.class}}" 
    (click)="button.action(setMember())">{{button.label}}</button>

    <button (click)="closeModal()" mat-button class="orange-button">Cancelar</button>
</div>
    