.modalResultOperationBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 5rem auto;
    width: 20%;
}

.modalResultOperationMessage {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: var(--grayscale-5);
    margin: 1.5rem 0;
}

.modalResultOperationImage {
    max-width: 12vw;
    min-width: 10vw;
}

.modalResultOperationButton {
    width: 100%;
    margin-bottom: 1rem;
}
