<div class="lista-atividades-footer">
    <div class="lista-atividades-faltas">
        <h4>Total de faltas:</h4>
        <p>12</p>
    </div>
    <div class="lista-atividades-pagamento">
        <div class="lista-atividades-pagamento-mesada">
            <h5>Mesada:</h5>
            <p>R$ {{allowance}}</p>
        </div>

        <p>-</p>

        <div class="lista-atividades-pagamento-descontos">
            <h5>Descontos:</h5>
            <p>R$ {{discounts}}</p>
        </div>

        <p>=</p>

        <div class="lista-atividades-pagamento-total">
            <h5>Total:</h5>
            <p>R$ {{getTotalPaid()}}</p>
        </div>
    </div>
    <div>
        <button mat-button class="lista-atividades-finalizar">Finalizar Lista</button>
    </div>
</div>
