<h1 class="logo">RIOTT</h1>

<p class="msg">Controle as tarefas e mesadas dos seus filhos para manter a casa em harmonia.</p>

<section class="input">
    <mat-form-field appearance="outline">
        <mat-label>E-mail</mat-label>
        <input matInput placeholder="Email@gmail.com" [formControl]="email" required>
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Senha</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
    </mat-form-field>

    <button type="submit" (click)="onSubmit()">Entrar</button>
</section>
