.logo {
    position: absolute;
    width: 161px;
    height: 66px;
    left: 1023px;
    top: 182px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 66px;

    color: #006D77;
}

.msg {
    position: absolute;
    width: 282px;
    height: 38px;
    left: 965px;
    top: 264px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    
    color: #7C8D93;
}

.gbutton {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    color: #FFFFFF;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;

    position: absolute;
    width: 306px;
    height: 51px;
    left: 953px;
    top: 492px;

    background: #006D77;
    border-radius: 4px;
}