html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
    --primary-dark: #006d77;
    --primary-light: #83c5be;
    --secondary-dark: #e29578;
    --secondary-light: #3f3f3f;
    --grayscale-1: #edf6f9;
    --grayscale-2: #dee8eb;
    --grayscale-3: #b5c5ca;
    --grayscale-4: #7c8d93;
    --grayscale-5: #3b4244;
    --support-red: #eb5757;
    --support-green: #27ae60;
    --support-blue: #2f80ed;
    --white: #ffffff;

    /* cor do outliner */
    .mat-form-field-appearance-outline .mat-form-field-outline {
        color: var(--grayscale-4);
    }
    /* cor quando focado */
    .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
        color: var(--primary-dark);
    }
    /* Cor da caixa ao dar inserir campo invalido */
    .mat-form-field.mat-form-field-invalid .mat-form-field-label {
        color: var(--primary-dark);
    }

    ::-webkit-scrollbar {
        border-radius: 90px;
        width: 8px;
        background: var(--grayscale-2);
    }

    ::-webkit-scrollbar-thumb {
        background: var(--grayscale-3);
        border-radius: 90px;
    }

    button:hover {
        cursor: pointer;
    }

    #button {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;

        border-radius: 4px;
        border: 2px solid;

        line-height: 16px;
        height: 40px;
    }

    .dark-green-button {
        width: 188px;

        color: var(--white);
        background: var(--primary-dark);
        border: var(--primary-dark);
    }

    .light-green-button {
        width: 69px;

        color: var(--white);
        background: var(--primary-light);
        border: var(--primary-light);
    }

    .orange-button {
        color: var(--secondary-dark);
        background: var(--white);
        border: var(--secondary-dark);

        // TODO - extender essa classe em atividades subscrevendo os valores por esses abaixo
        // width: auto;
        // min-width: 75px;
        // max-width: 115px;
        // margin-right: 16px;
    }
}
