
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root{
    font-family: Roboto;
    font-style: normal;
    --white: #ffffff;
    --primary-dark: #006D77;
    --primary-light: #83C5BE;
    --secundary-dark: #E29578;
    --secundary-light: #FFDDD2;
    --grayscale-1: #EDF6F9;
    --grayscale-2: #DEE8EB;
    --grayscale-3: #B5C5CA;
    --grayscale-4: #7C8D93;
    --grayscale-5: #3B4244;
    --support-red: #EB5757;
    --support-green: #27AE60;
    --support-blue: #2F80ED;

    /* cor do outliner */
    .mat-form-field-appearance-outline .mat-form-field-outline {
        color: var(--grayscale-4);
    }
    /* cor quando focado */
    .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
        color: var(--primary-dark);
    }
    /* Cor da caixa ao dar inserir campo invalido */
    .mat-form-field.mat-form-field-invalid .mat-form-field-label {
        color: var(--primary-dark);
    }
}

