.member{
    background: #ffffff;
    padding: 0;
    border: 0;
    margin-bottom: 1rem;
}

.member:hover{
    cursor: pointer;
}

.selected{
    border: 1px solid #83C5BE;
    box-sizing: border-box;
    box-shadow: 0px 4px 24px rgba(131, 197, 190, 0.3);
    border-radius: 4px;
    border-right: 15px solid var(--primary-light);
}

mat-card{
    width: 300px;
    height: 120px;
    border: 1px solid #dee8eb;
    border-radius: 4px;
    display: flex;
    padding:0;
    align-content: center;
    
}

.image-client{
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
    align-self: center;
    margin-left: 16px;
}

.information-client{
    flex-grow: 2;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
}

mat-card-title{
    color:var(--grayscale-5);
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: left;
}

mat-card-subtitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
    color: var(--grayscale-4)
}

.valor-mesada{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: var(--grayscale-5)
}

.valor-desconto{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #EB5757;
}

