<button class="member">
    <mat-card>
        <div mat-card-avatar class="image-client"></div>
        <div class="information-client">
            <mat-card-title>{{name}}</mat-card-title>
            <mat-card-subtitle>
                <p>Mesada:</p>
                <p class="valor-mesada">R$ {{allowance}}</p>
            </mat-card-subtitle>
            <mat-card-subtitle>
                <p>Descontos:</p>
                <p class="valor-desconto">R$ {{discounts}}</p>
            </mat-card-subtitle>
            <mat-card-subtitle>
                <p>Total:</p>
                <p class="valor-mesada">R$ {{getTotal()}}</p>
            </mat-card-subtitle>
        </div>
    </mat-card>
</button>
