<div class="lista-finalizada">
    <div class="descricao-item">
        <h4 class="header-item">Nome da lista:</h4>
        <p class="content-item">{{listName}}</p>
    </div>
    <div class="descricao-item">
        <h4 class="header-item">Número de faltas:</h4>
        <p class="content-item">{{failedTasks}}</p>
    </div>
    <div class="descricao-item">
        <h4 class="header-item">Data de início:</h4>
        <p class="content-item">{{initialDate}}</p>
    </div>
    <div class="descricao-item">
        <h4 class="header-item">Data de finalização:</h4>
        <p class="content-item">{{finalDate}}</p>
    </div>
    <div >
        <button mat-button class="dark-green-button" id="button" (click)="onclick()">Ver detalhes</button>
    </div>
</div>
