.memberCard {
    background: var(--white);
    padding: 0;
    border: 0;
    margin-bottom: 1rem;
}

.member:hover {
    cursor: pointer;
}

.selected {
    border: 1px solid var(--primary-light);
    box-sizing: border-box;
    box-shadow: 0px 4px 24px var(--primary-light);
    border-radius: 4px;
    border-right: 15px solid var(--primary-light);
}

mat-card {
    width: 20vw;
    height: 88px;
    border: 2px solid var(--grayscale-2);
    border-radius: 4px;
    display: flex;
    padding: 0;
    align-content: center;
}

.image-member {
    background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
    background-size: cover;
    align-self: center;
    margin-left: 16px;
}

.information-member {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
}

mat-card-title {
    color: var(--grayscale-4);
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 8px;
    max-width: 100%;
    text-align: left;
}

mat-card-subtitle {
    color: var(--grayscale-5);
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: left;
}

.members-image {
    height: 38px;
    width: 38px;
    border-radius: 100%;
    align-self: center;
    margin-left: 1rem;
}
