.members {
    width: 90%;
    margin: 1.5rem auto 0 auto;
}

.members-image {
    height: 38px;
    width: 38px;
    border-radius: 100%;
}

.members-list {
    width: 97%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 22px 32px;
    border: 1px solid var(--grayscale-2);
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 1rem;
}

.orange-button {
    margin-right: 16px;
}

.light-green-button {
    margin-right: 16px;
}

.dark-green-button {
    width: 84px;
}

.header {
    color: var(--grayscale-4);
    font-size: 14px;
    line-height: 16px;
    margin: 0;
    margin-bottom: 8px;
}

.content {
    color: var(--grayscale-5);
    font-size: 16px;
    line-height: 19px;
    margin: 0;
}
