.background-img {
    width: 100;
    margin-left: 0%;
}

.text-img {
    position: absolute;
    width: 534px;
    height: 202px;
    left: 56px;
    top: 510px;

    font-weight: bold;
    font-size: 86px;
    line-height: 101px;

    color: var(--white);
}
