.background-img {
    width: 845px;
    height: 768px;
    margin-left: 0%;
    object-fit: contain;
}

.text-img {
    position: absolute;

    left: 56px;
    bottom: 56px;

    font-weight: bold;
    font-size: 86px;
    line-height: 101px;

    color: var(--white);
}
